.button-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 80px;
  width: 240px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #424242;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  transition: all .2s ease;
}

.button-more:hover {
  opacity: .7;
}

@media screen and (min-width: 645px) {
  .button-more {
    width: 320px;
  }
}