.footer {
  margin: auto 10px 0;
  padding: 79px 0 0 0;
  box-sizing: border-box;
}

.footer__title {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #8b8b8b;
  border-bottom: 1px solid #424242;
  padding-bottom: 21px;
}

.footer__info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.footer__time {
  margin: 30px 0 0 0;
  color: #8b8b8b;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.footer__links {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  transition: all .2s ease;
}

.footer__link:hover {
  color: #424242;
}

@media screen and (min-width: 645px) {
  .footer {
    margin: auto 30px 0;
  }

  .footer__title {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 20px;
  }

  .footer__info {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .footer__time {
    margin: 0;
    font-size: 13px;
    line-height: 16px;
  }

  .footer__links {
    flex-direction: row;
  }

  .footer__link {
    font-size: 13px;
    line-height: 16px;
  } 
}

@media screen and (min-width: 880px) {
  .footer {
    margin: auto 70px 0;
  }
}